.level-btn, .project-btn {
  width: 95px;
  height: 95px;
  border: none;
  border-radius: 30px 30px 35px 35px ;
  background-color: #C77DFF
}


.project-btn {
  height: 150px;
  width: 300px;
}

.course-title {
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 35px
}

.level-row {
  position: relative;
  display: flex;
  justify-content: center;
  height: auto;
  width: 100%
}

.moveToRight {
  position: relative;
  left: 120px
}

.level-btns {
  display: flex;
  gap: 40px;
}

.moveLeft-btns {
  display: flex;
  gap: 15px;
  position: relative;
  right: 56px
}

.moveRight-btns {
  display: flex;
  gap: 15px;
  position: relative;
  left: 56px
}


.inside-btn {
  background-color: #2A003F;
  height: 86%;
  border-radius: 30px;
  position: relative;
  bottom: 5px;
  display: grid;
  place-items: center;
  color: white;
  font-weight: 700;
  font-size: 23px
}

.adjustToRight {
  position: relative;
  display: flex;
  align-items: center;
  left: 100px
}

.centerY {
  display: flex;
  align-items: center;
}

.d-flex {
  display: flex
}


.project-wrapper {
  height: 300px;
  display: flex;
  flex-direction: column
}
