
.clansTab {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.clans {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  gap: 20px;
  height: 335px;
  width: 392px;
  overflow-y: auto;
}

.clans div {
  width: 258px;
  display: flex;
  gap: 150px;
  background-color: gray;
  padding: 5px;
  cursor: pointer;
}

.infoBox {
  background-color: #2dd4bf;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 5px;
  align-items: center;
}

.popUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background-color: #8bff9c;
  height: 340px;
  width: 400px;
  gap: 10px;
}

.leavePopUp {
  position: absolute;
  right: 5px;
  top: 5px;
  cursor: pointer;
}

.errorMsg {
  position: absolute;
  right: 10px;
  background-color: red;
  color: white;
  width: 100px;
  height: 50px;
}