$muted : rgba(255, 255, 255, 0.72);
$border: 1px solid rgba(255, 255, 255, 0.14);
$radius100: 100px;
$purple: rgba(124, 92, 255, 0.85);

.panel {
  border-radius: 20px;
  border: $border;
  background: rgba(0, 0, 0, 0.18);
  padding: 18px;
  margin-bottom: 10px;
}

.header {
  font-size: 22px;
  display: flex;
  font-weight: bold;
  margin-bottom: 8px;
}

.subtitle {
  font-size: 13px;
  color: $muted;
  margin-bottom: 8px;
}


.statsBox {
  display: flex;
  gap: 10px;
  padding: 12px 14px;
  border-radius: $radius100;
  border: $border;
  background: rgba(255, 255, 255, 0.05);
  font-weight: 800;
  font-size: 13px;
}

.curStats {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.progressBar {
  height: 10px;
  border-radius: $radius100;
  border: $border;
  background: rgba(0, 0, 0, 0.18);
}

.barFill {
  height: 100%;
  width: 0;
  border-radius: $radius100;
  background: linear-gradient(135deg, rgba(124, 92, 255, 0.95), rgba(45, 212, 191, 0.85));
  transition: all 0.5s ease
}


.qNum {
  width: 28px;
  height: 28px;
  border-radius: 10px;
  display: grid;
  place-items: center;
  font-weight: 900;
  background: rgba(124, 92, 255, 0.18);
  border: 1px solid rgba(124, 92, 255, 0.35);
  flex: 0 0 auto;
}

.quizHeader {
  display: flex;
  gap: 10px;
  margin-bottom: 8px;
}

.question {
  font-weight: bold;
}

.options {
  display: grid;
  gap: 12px;
  margin-top: 15px;
}

.opt, .nextQ {
  all: unset;
  display: flex;
  justify-content: left;
  border-radius: 18px;
  border: $border;
  background: rgba(255, 255, 255, 0.05);
  padding: 12px 12px;
  gap: 10px;
  cursor: pointer;
  width: 90%;
  color: inherit;
  font: inherit;
  transition: all 0.1s ease;
}

.nextQ {
  justify-content: center;
  opacity: 0.55;
}

.content {
  overflow-y: auto;
  height: 410px;
}

.opt.wrong {
  border-color: rgba(255, 77, 109, 0.45);
  background: rgba(255, 77, 109, 0.10);
}


.opt.correct {
  border-color: rgba(45, 212, 191, 0.45);
  background: rgba(45, 212, 191, 0.12);
}

.hidden {
  display: none
}

.ok {
  display: flex;
  border-color: rgba(45, 212, 191, 0.40);
  background: rgba(45, 212, 191, 0.10);
}

.bad {
  display: flex;
  border-color: rgba(255, 77, 109, 0.40);
  background: rgba(255, 77, 109, 0.08);
}


.radio {
  width: 18px;
  height: 18px;
  border-radius: $radius100;
  border: 2px solid rgba(255, 255, 255, 0.35);
  background: rgba(0, 0, 0, 0.18);
  display: grid;
  place-items: center;
  flex: 0 0 auto;
}

.radio::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: $radius100;
  background: $purple;
  transition: background 0.1s ease;
  opacity: 0;
}


.purpleBorder {
  border-color: $purple;
}

.purpleBorder::after {
  opacity: 1;
}