.level-btn, .project-btn {
  width: 130px;
  height: 130px;
  border: none;
  border-radius: 30px 30px 35px 35px ;
  background-color: #C77DFF
  }


.project-btn {
  height: 250px;
  width: 470px
  }

.course-title {
  height: 50px;
  display: grid;
  place-items: center;
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 35px
  }

.level-row {
  position: relative;
  display: flex;
  justify-content: center;
  height: auto;
  }

.moveToRight {
  position: relative;
  left: 170px
  }

.level-btns {
  display: flex;
  gap: 40px;
  }

.moveLeft-btns {
  position: relative;
  right: 85px
  }

.moveRight-btns {
  position: relative;
  left: 85px
  }


.inside-btn {
  background-color: #2A003F;
  height: 86%;
  border-radius: 30px;
  position: relative;
  bottom: 5px;
  display: grid;
  place-items: center;
  color: white;
  font-weight: 700;
  font-size: 23px
  }

.adjustToRight {
  position: relative;
  display: flex;
  left: 100px
  }

.centerY {
  display: flex;
  align-items: center;
  }

.d-flex {
  display: flex
  }


.project-wrapper {
  display: flex;
  flex-direction: column
  }
