<div class="course-title">
  Einführung in die Webentwicklung
</div>
<div class="level-row">
  <div class="content">
    <button class="level-btn">
      <div class="inside-btn">1</div>
    </button>
    <svg class="line-svg" width="200" height="180" xmlns="http://www.w3.org/2000/svg">
      <path d="M0,60 Q145,55 137,180" stroke="gray" stroke-width="8" fill="transparent"/>
    </svg>
  </div>
</div>

<div class="level-row">
  <button class="level-btn moveToRight">
    <div class="inside-btn">2</div>
  </button>
</div>
<div class="level-row">
  <button class="level-btn">
    <div class="inside-btn">3</div>
  </button>
</div>
<div class="level-row">
  <div class="level-btns moveLeft-btns">
    <button class="level-btn">
      <div class="inside-btn">4</div>
    </button>
    <button class="level-btn">
      <div class="inside-btn">5</div>
    </button>
  </div>
</div>
<div class="level-row">
  <button class="level-btn">
    <div class="inside-btn">6</div>
  </button>
</div>
<div class="level-row">
  <div class="level-btns moveRight-btns">
    <button class="level-btn">
      <div class="inside-btn">7</div>
    </button>
    <button class="level-btn">
      <div class="inside-btn">8</div>
    </button>
  </div>
</div>
<div class="level-row">
  <button>Projekt</button>
</div>

