.dFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 40px;
}


.button {
  height: var(--arena-btn-height);
  width: var(--arena-btn-width);
}

