:root {
  --app-width: 360px;
  --bottom-bar-height: 60px;
  --top-bar-height: 135px;
  --arena-btn-height: 80px;
  --arena-btn-width: 150px;
  --color-not-available: #9ca3af;
}

html, body {
  margin: 0;
  height: 100%;
  overflow-x:hidden;
  color: rgba(255, 255, 255, 0.92);
  font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial;
}

.notAvailable {
  background-color: var(--color-not-available);
  height: var(--arena-btn-height);
  width: var(--arena-btn-width);
}

.mobileSize {
  width: 360px;
  height: 640px
}

.centerMobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

