<div class="topBar">
  <div class="top-buttons">
    <button class="statusBtn">
      <div class="status-content">
        <i class="fa-solid fa-heart icon"></i>
        <span class="icon-num">12</span>
      </div>

    </button>
    <button class="statusBtn">
      <div class="status-content">
        <i class="fa-solid fa-coins icon"></i>
        <span class="icon-num">200</span>
      </div>

    </button>
    <button class="statusBtn">
      <div class="status-content">
        <i class="fa-solid fa-fire icon"></i>
        <span class="icon-num">5</span>
      </div>
    </button>
    <button class="statusBtn">
      <div class="status-content">
        <i class="fa-solid fa-trophy icon"></i>
        <span class="icon-num">7</span>
      </div>
    </button>
  </div>
  <div class="bottom-buttons">
    <button class="careerBtn">Full-Stack-Developer</button>
  </div>

</div>
