$muted: rgba(255, 255, 255, 0.6);

.bottom-bar {
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: var(--app-width);
  background: #4b0082;
  gap: 10%;
  border-top: 2px solid #3a006f;
}

.section {
  display : flex;
  flex-direction: column;
  gap: 4px;
  transition: all 0.1s ease;
  color: $muted;
  cursor: pointer;
  border: none;
  background-color: transparent
}

.w-40 {
  width: 40px
}


.icon {
  font-size: 25px;
  width: 100%;
  color: $muted;
}


.selected {
  color: white
}
